<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.oujitech.work.mapper.UserMapper">

	<select id="findUserInfo" resultType="jp.co.oujitech.work.model.UserInfo">
		select user_id,mail_id ,password,name,name_k,address,age,telphone,role_id,create_time,update_time from t_user;
	</select>
	<select id="getUserInfoById" resultType="jp.co.oujitech.work.model.UserInfo"
		parameterType="java.lang.Integer">
		select user_id,mail_id ,password,name,name_k,address,age,telphone,role_id,create_time,update_time from t_user where mail_id
		=
		#{mailId};
	</select>
	<insert id="addUserInfo" parameterType="jp.co.oujitech.work.model.UserInfo">
		insert into t_user(user_id,mail_id ,password,name,name_k,address,age,telphone,role_id,create_time,update_time)
		values ((nextval('s_t_user'), #{mailId},#{password},#{name},#{nameK},#{address},#{age},#{telphone},#{roleId},#{createTime},#{updateTime}
		)
	</insert>
	<delete id="delUserInfo" parameterType="java.lang.Integer">
		delete from t_user where
		user_id
		= #{mailId}
	</delete>
</mapper>